resources/animation
resources/logo

abq2021/DS.SIMULIA.Suite.2021.Linux64
abq2021/DS_SIMULIA_Suite_2021_Linux64.zip
abq2021/step-3-license/SolidSQUAD_License_Servers
abq2021/release

abq2024/DS.SIMULIA.SUITE.2024.LINX64
abq2024/DS.SIMULIA.SUITE.2024.LINX64.tar.gz
abq2024/step-3-license/SolidSQUAD_License_Servers
abq2024/release
